{% extends "base.html" %}
{% block content %}
<div class="headed">
  <h1>Monitor Lamp</h1>
</div>
<div class="gauge-cont" data-percentage="80">
  <div class="gauge">
    <div class="inner"></div>
    <div class="spinner sp0"></div>
  </div>
  <div class="pointer poi0"></div>
  <div class="pointer-knob"></div>
  <div class="description">
    Photocell - <strong id="value0"></strong> <strong>Ampere</strong>
  </div>
</div>

<div class="gauge-cont" data-percentage="40">
  <div class="gauge">
    <div class="inner"></div>
    <div class="spinner sp1"></div>
  </div>
  <div class="pointer poi1"></div>
  <div class="pointer-knob"></div>
  <div class="description">
    Lamp - <strong id="value1"></strong> <strong>Ampere</strong>
  </div>
</div>

<div class="gauge-cont" data-percentage="40">
  <div class="gauge">
    <div class="inner"></div>
    <div class="spinner sp2"></div>
  </div>
  <div class="pointer poi2"></div>
  <div class="pointer-knob"></div>
  <div class="description">
    Luminosity - <strong id="value2"></strong> <strong>%</strong>
  </div>
</div>

<div>
{% endblock %}
{% block addjs %}
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
{% endblock %}
