{% extends 'base.html' %}
{% block addhead %}
<script src="js/jquery.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/highcharts.js"></script>
{% endblock %}
{% block content %}
<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Humedad Promedio</h2>
  </div>
<div id="moistures_prom" style="width:100%; height:400px;"></div>
</div>
<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sensor de Humedad 1</h2>
  </div>
<div id="Sensor1" style="width:100%; height:400px;"></div>
</div>
<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sensor de Humedad 2</h2>
  </div>
<div id="Sensor2" style="width:100%; height:400px;"></div>
</div>
<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sensor de Humedad 3</h2>
  </div>
<div id="Sensor3" style="width:100%; height:400px;"></div>
</div>
<div class=" mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Sensor de Humedad 4</h2>
  </div>
<div id="Sensor4" style="width:100%; height:400px;"></div>
</div>
{% endblock %}

{% block addjs %}
<script charset="utf-8">
var socket = io.connect();
var valores = {};
socket.on('moistures',function(datos){
  $('#moistures_prom').highcharts({
    chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
      load: function () {
          var series = this.series[0];
          var socket = io.connect();
          socket.on('emit-m',function(datos){
            var x = datos.timer, // current time
            y = datos.promedio;
            series.addPoint([x, y], true, true);
          });
        }
      }
    },
    title: {text: ''},
    xAxis: {type: 'datetime',tickPixelInterval: 150},
    yAxis: {title: {text: 'Humedad'},plotLines: [{value: 0,width: 1,color: '#A3BE8C'}]},
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
        Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {enabled: false},
    exporting: {enabled: false},
    series: [{
              name: 'Promedio',
              data: (function () {
                  var data = [], i, pos ;
                  for (i = -19; i <= 0 ; i += 1) {
                      pos = (datos.length+i)-1;
                      data.push({x: datos[pos].timer,y: datos[pos].promedio});
                  }
                  return data;
              }())
          }]
  });
  $('#Sensor1').highcharts({
    chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
      load: function () {
          var series = this.series[0];
          var socket = io.connect();
          socket.on('emit-m',function(datos){
            var x = datos.timer, // current time
            y = datos.s1;
            series.addPoint([x, y], true, true);
          });
        }
      }
    },
    title: {text: ''},
    xAxis: {type: 'datetime',tickPixelInterval: 150},
    yAxis: {title: {text: 'Humedad'},plotLines: [{value: 0,width: 1,color: '#A3BE8C'}]},
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
        Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {enabled: false},
    exporting: {enabled: false},
    series: [{
              name: 'Sensor 1',
              data: (function () {
                  var data = [], i, pos ;
                  for (i = -19; i <= 0 ; i += 1) {
                      pos = (datos.length+i)-1;
                      data.push({x: datos[pos].timer,y: datos[pos].sensor1});
                  }
                  return data;
              }())
          }]
  });
  $('#Sensor2').highcharts({
    chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
      load: function () {
          var series = this.series[0];
          var socket = io.connect();
          socket.on('emit-m',function(datos){
            var x = datos.timer, // current time
            y = datos.s2;
            series.addPoint([x, y], true, true);
          });
        }
      }
    },
    title: {text: ''},
    xAxis: {type: 'datetime',tickPixelInterval: 150},
    yAxis: {title: {text: 'Humedad'},plotLines: [{value: 0,width: 1,color: '#A3BE8C'}]},
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
        Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {enabled: false},
    exporting: {enabled: false},
    series: [{
              name: 'Sensor 2',
              data: (function () {
                  var data = [], i, pos ;
                  for (i = -19; i <= 0 ; i += 1) {
                      pos = (datos.length+i)-1;
                      data.push({x: datos[pos].timer,y: datos[pos].sensor2});
                  }
                  return data;
              }())
          }]
  });
  $('#Sensor3').highcharts({
    chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
      load: function () {
          var series = this.series[0];
          var socket = io.connect();
          socket.on('emit-m',function(datos){
            var x = datos.timer, // current time
            y = datos.s3;
            series.addPoint([x, y], true, true);
          });
        }
      }
    },
    title: {text: ''},
    xAxis: {type: 'datetime',tickPixelInterval: 150},
    yAxis: {title: {text: 'Humedad'},plotLines: [{value: 0,width: 1,color: '#A3BE8C'}]},
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
        Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {enabled: false},
    exporting: {enabled: false},
    series: [{
              name: 'Sensor 3',
              data: (function () {
                  var data = [], i, pos ;
                  for (i = -19; i <= 0 ; i += 1) {
                      pos = (datos.length+i)-1;
                      data.push({x: datos[pos].timer,y: datos[pos].sensor3});
                  }
                  return data;
              }())
          }]
  });
  $('#Sensor4').highcharts({
    chart: {
      type: 'spline',
      animation: Highcharts.svg, // don't animate in old IE
      marginRight: 10,
      events: {
      load: function () {
          var series = this.series[0];
          var socket = io.connect();
          socket.on('emit-m',function(datos){
            var x = datos.timer, // current time
            y = datos.s4;
            series.addPoint([x, y], true, true);
          });
        }
      }
    },
    title: {text: ''},
    xAxis: {type: 'datetime',tickPixelInterval: 150},
    yAxis: {title: {text: 'Humedad'},plotLines: [{value: 0,width: 1,color: '#A3BE8C'}]},
    tooltip: {
      formatter: function () {
        return '<b>' + this.series.name + '</b><br/>' +
        Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
        Highcharts.numberFormat(this.y, 2);
      }
    },
    legend: {enabled: false},
    exporting: {enabled: false},
    series: [{
              name: 'Sensor 4',
              data: (function () {
                  var data = [], i, pos ;
                  for (i = -19; i <= 0 ; i += 1) {
                      pos = (datos.length+i)-1;
                      data.push({x: datos[pos].timer,y: datos[pos].sensor4});
                  }
                  return data;
              }())
          }]
  });
});
</script>
{% endblock %}
